<section class="hero">
  <div class="container">
    <h1 class="hero__title">путешествия мечты</h1>
    <p class="hero__info">выбери свою</p>
    <svg class="hero__arrow" width="16" height="51">
      <use href="./svg/icons.svg#down-arrow"></use>
    </svg>
    <div class="hero__block">
      <div class="hero__wrapper">
        <p class="hero__text">Откуда</p>
        <h2 class="hero__header">Москва</h2>
      </div>
      <button class="hero__btn">куда</button>
      <button class="hero__btn">вылет</button>
      <ul class="hero__list">
        <li class="hero__item">
          <p class="hero__text">На сколько</p>
          <h2 class="hero__subtitle">9 - 12 ночей</h2>
        </li>
        <li class="hero__item">
          <p class="hero__text">Туристы</p>
          <h2 class="hero__subtitle">2 + 0</h2>
        </li>
      </ul>
      <button class="hero__submit">
        подобрать
        <svg class="hero__icon" width="11" height="11">
          <use href="./svg/icons.svg#dioganal-arrow"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
