<section class="tours">
  <div class="container">
    <h2 class="tours__title">горящие туры</h2>
    <h3 class="tours__sybtitle">tours</h3>
    <p class="tours__info">Поймайте момент</p>
    <div class="tours__slider">
      <ul class="tours__slides">
        <li class="tours__slide">
          <ul class="tours__details">
            <li class="tours__detail">9 дней</li>
            <li class="tours__detail">от 25 000 ₽</li>
          </ul>
          <div class="tours__block">
            <h4 class="tours__header">Италия&nbsp;&nbsp;•&nbsp;&nbsp;Венеция</h4>
            <p class="tours__date">12-18 октября</p>
            <a href="" class="tours__link">
              узнать подробнее
              <svg class="tours__icon" width="41" height="16">
                <use href="./svg/icons.svg#right-arrow"></use>
              </svg>
            </a>
          </div>
        </li>
        <li class="tours__slide">
          <ul class="tours__details">
            <li class="tours__detail">14 дней</li>
            <li class="tours__detail">от 95 000 ₽</li>
          </ul>
          <div class="tours__block">
            <h4 class="tours__header">
              турция&nbsp;&nbsp;•&nbsp;&nbsp;Каппадокия
            </h4>
            <p class="tours__date">16-30 сентября</p>
            <a href="" class="tours__link">
              узнать подробнее
              <svg class="tours__icon" width="41" height="16">
                <use href="./svg/icons.svg#right-arrow"></use>
              </svg>
            </a>
          </div>
        </li>
        <li class="tours__slide">
          <ul class="tours__details">
            <li class="tours__detail">5 дней</li>
            <li class="tours__detail">от 80 000 ₽</li>
          </ul>
          <div class="tours__block">
            <h4 class="tours__header">италия&nbsp;&nbsp;•&nbsp;&nbsp;рим</h4>
            <p class="tours__date">10-15 ноября</p>
            <a href="" class="tours__link">
              узнать подробнее
              <svg class="tours__icon" width="41" height="16">
                <use href="./svg/icons.svg#right-arrow"></use>
              </svg>
            </a>
          </div>
        </li>
        <li class="tours__slide">
          <ul class="tours__details">
            <li class="tours__detail">9 дней</li>
            <li class="tours__detail">от 25 000 ₽</li>
          </ul>
          <div class="tours__block">
            <h4 class="tours__header">оаэ&nbsp;&nbsp;•&nbsp;&nbsp;дубай</h4>
            <p class="tours__date">12-18 октября</p>
            <a href="" class="tours__link">
              узнать подробнее
              <svg class="tours__icon" width="41" height="16">
                <use href="./svg/icons.svg#right-arrow"></use>
              </svg>
            </a>
          </div>
        </li>
        <li class="tours__slide">
          <ul class="tours__details">
            <li class="tours__detail">9 дней</li>
            <li class="tours__detail">от 25 000 ₽</li>
          </ul>
          <div class="tours__block">
            <h4 class="tours__header">
              италия&nbsp;&nbsp;•&nbsp;&nbsp;флоренция
            </h4>
            <p class="tours__date">12-18 октября</p>
            <a href="" class="tours__link">
              узнать подробнее
              <svg class="tours__icon" width="41" height="16">
                <use href="./svg/icons.svg#right-arrow"></use>
              </svg>
            </a>
          </div>
        </li>
        <li class="tours__slide">
          <ul class="tours__details">
            <li class="tours__detail">9 дней</li>
            <li class="tours__detail">от 25 000 ₽</li>
          </ul>
          <div class="tours__block">
            <h4 class="tours__header">италия&nbsp;&nbsp;•&nbsp;&nbsp;им</h4>
            <p class="tours__date">10-15 ноября</p>
            <a href="" class="tours__link">
              узнать подробнее
              <svg class="tours__icon" width="41" height="16">
                <use href="./svg/icons.svg#right-arrow"></use>
              </svg>
            </a>
          </div>
        </li>
      </ul>
      <div class="tours__pagination">
        <div class="tours__checked"></div>
      </div>
    </div>
  </div>
</section>
