html {
    scroll-behavior: smooth;
}

* {
    transition: all 0.3s ease-in-out;
}

body {
    font-family: "Roboto", sans-serif;
    cursor: url(../svg/cursor.svg) 13 10, default;
}

*::selection {
    background-color: $violet-accent;
    color: $light-text;
}