@font-face {
    font-family: 'Millanova';
    src: url('../fonts/millanova.woff2') format('woff2'),
        url('../fonts/millanova.woff') format('woff'),
        url('../fonts/millanova.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Rasfire";
    src: url("../fonts/Rasfire-Regular.eot?") format("eot"),
        url("../fonts/Rasfire-Regular.woff") format("woff"),
        url("../fonts/Rasfire-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Chandra';
    src: url('../fonts/Chandra.off') format('off'),
        url('../fonts/Chandra.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}