@font-face {
    font-family: 'Millanova';
    src: url('../fonts/millanova.woff2') format('woff2'),
        url('../fonts/millanova.woff') format('woff'),
        url('../fonts/millanova.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}