* {
    margin: 0;
    padding: 0;
}

*:focus {
    outline: none;
}

img {
    width: 100%;
    height: auto;
    line-height: 0;
    display: block;
}

a {
    text-decoration-line: none;
    cursor: url(../svg/cursor.svg) 12 9, default;
}

ul {
    list-style-type: none;
}

button {
    cursor: url(../svg/cursor.svg) 12 9, default;
    display: block;
    border: none;
}